.programsTitle {
  margin-top: 48px;
  margin-bottom: 24px;
}

.programsGrid {
  margin-bottom: 48px;
}

.otherTitle {
  margin-bottom: 24px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}
